body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
}

h1 {
    text-align: center;
}

.tabs {
    display: none; /* Hide tabs by default */
}

.tab-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.tab-content {
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: top;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-top: 0;
}

.add-item-container {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.add-item-input {
    padding: 5px;
    flex-grow: 1;
}

.add-item-button {
    width: 30px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.delete, .transfer, .edit {
    margin-left: 7px;
    padding: 0;
    height: 27px;
    width: 27px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .tabs {
        display: flex; /* Show tabs on mobile */
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .tab-button {
        width: 30%;
        height: 30px;
    }

    .tab-content {
        display: none;
    }

    .tab-content:first-of-type {
        display: block;
    }

    .tab-content {
        width: 100%;
    }

    input {
        width: 80%;
    }
}